<!DOCTYPE html>
<html>
<head>
  <base href="/assets/auth/" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Đăng nhập</title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="fonts/font-awesome.min.css">
  <link rel="stylesheet" href="fonts/ionicons.min.css">
  <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css">
  <link rel="stylesheet" href="css/Card-slider-sk.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
  <link rel="stylesheet" href="css/Login-Form-Dark.css">
  <link rel="stylesheet" href="css/Media-Slider-Bootstrap-3-1.css">
  <link rel="stylesheet" href="css/Media-Slider-Bootstrap-3.css">
  <link rel="stylesheet" href="css/Navigation-Clean.css">
  <link rel="stylesheet" href="css/Navigation-with-Search.css">
  <link rel="stylesheet" href="css/Simple-Slider.css">
  <link rel="stylesheet" href="css/Social-Icons.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="alertifyjs/css/alertify.min.css">
  <script src="alertifyjs/alertify.min.js"></script>

</head>
<body>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" style="background-color:#dfa974	;">
          <p class="d-flex justify-content-center" >
            <br>Đăng ký thành viên Phương Đông Hotel - Tích điểm thưởng và nhận ưu đãi<br>Nhanh chóng, tiện lợi và an toàn. Đăng
            ký liền tay, rinh ngay quyền lợi.<br><br></p>
        </div>
      </div>
    </div>
  </div>
  <div style="padding-top: 40px;">
    <div class="container">
      <div class="row text-center d-flex justify-content-center">
        <div class="col-8 col-md-8 ">
          <div class="row icon-content">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <img src="img/coins@2x.png" alt="" width="70rem">
              <h3>Tích điểm nhanh chóng</h3>     
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <img src="img/top-sales@2x.png" alt="" width="70rem">
              <h3>Tiện ích thông minh</h3>    
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" s>
              <img src="img/wallet@2x.png" alt="" width="70rem">
              <h3>Thanh toán đơn giản</h3>        
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <img src="img/backpack@2x.png" alt="" width="70rem">
              <h3>Ưu đãi mỗi ngày</h3>
            </div>
          </div>
        </div>
        <div class="col-auto col-sm-12 col-md-4 text-center">
          <form id="form-login">
            <h3>Đăng nhập<br></h3>
            <p>Địa chỉ email</p>
          <input class="form-control-lg" type="text" id="email" required="" name="email">
          <p >Mật Khẩu</p>
          <input class="form-control-lg" id="password" type="password" name="password" required="">
            <button class="btn btn-primary border css-button" id="btn-login" type="button">Đăng nhập </button>
          <p class="text-center"><br>Quên mật khẩu? <a href="#">Nhấn vào đây</a> <br>
            <br>Bạn chưa có tài khoản ? 
            <a href="/register"> Đăng ký</a> <br><br></p>
            </form>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="js/smart-forms.min.js"></script>
  <script src="js/Card-slider-sk.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
  <script src="js/Media-Slider-Bootstrap-3.js"></script>
  <script src="js/Simple-Slider.js"></script>
  <script src="js/jquery-validation-1.19.2/forder/jquery.validate.js"></script>
  <script>
    //setCookie in Cookies
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }
      //setCookie in Cookies
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }
    // validate form = jquery
    $("#form-login").validate({
        rules: {
          email: { required: true },
          password: { required: true},
        },
        messages: {
          email: { required: "Email không được để trống " },
          password: { required: "Mật khẩu không được để trống"},
        }
      })
      // button click-Login
      $("#btn-login").click(function () {
          var email = $("#email").val();
          var password = $("#password").val();
          if ($("#form-login").valid()) {
          $.ajax({
            url: "/login",
            method: "POST",
            data: {
              email: email,
              password: password,
            }
          }).then(function (data) {
            alertify.success(data.message);
            setCookie("token", data.token ,1 )
            if(data.role === "user"){
              window.timeout = setTimeout(function () { 
              window.location.href = "/";
            }, 2000)}
            else if(data.role === "admin"){
              window.timeout = setTimeout(function () {
                window.location.href = "/admin/dashboard";
              }, 2000)
            }
            
          }).catch(function (err) {
            alertify.error(err.responseJSON.message);
          })
        }
      })
  </script>
</body>

</html>
