<!DOCTYPE html>
<html>

<head>
  <base href="/assets/auth/" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Đăng kí</title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="fonts/font-awesome.min.css">
  <link rel="stylesheet" href="fonts/ionicons.min.css">
  <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css">
  <link rel="stylesheet" href="css/Card-slider-sk.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
  <link rel="stylesheet" href="css/Login-Form-Dark.css">
  <link rel="stylesheet" href="css/Media-Slider-Bootstrap-3-1.css">
  <link rel="stylesheet" href="css/Media-Slider-Bootstrap-3.css">
  <link rel="stylesheet" href="css/Navigation-Clean.css">
  <link rel="stylesheet" href="css/Navigation-with-Search.css">
  <link rel="stylesheet" href="css/Simple-Slider.css">
  <link rel="stylesheet" href="css/Social-Icons.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="alertifyjs/css/alertify.min.css">
  <script src="alertifyjs/alertify.min.js"></script>
</head>

<body>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col" style="background-color: #dfa974;">
          <p class="d-flex justify-content-center"><br>Đăng ký thành
            viên Phương Đông - Tích điểm thưởng và nhận ưu đãi<br>Nhanh chóng, tiện lợi và an toàn. Đăng ký liền tay, rinh
            ngay quyền lợi.<br><br></p>
        </div>
      </div>
    </div>
  </div>
  <div style="padding-top: 40px;">
    <div class="container">
      <div class="row text-center">
        <div class="col-auto col-sm-12 col-md-8 col-xs-12">
          <div class="row icon-content">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <img src="img/coins@2x.png" alt="" width="70rem">
              <h3>Tích điểm nhanh chóng</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <img src="img/top-sales@2x.png" alt="" width="70rem">
              <h3>Tiện ích thông minh</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <img src="img/wallet@2x.png" alt="" width="70rem">
              <h3>Thanh toán đơn giản</h3>
              
            </div>
            <div class="col-auto col-md-6 col-sm-6 col-xs-12">
              <img src="img/backpack@2x.png" alt="" width="70rem">
              <h3>Ưu đãi mỗi ngày</h3>
            </div>
          </div>
        </div>
        <div class="col-auto col-sm-12 col-md-4 text-center">
          <form id="form-register">
            <h3>Đăng ký thành viên<br></h3>
          <p>Địa chỉ email</p> <input class="form-control-lg" id="email" name="email" type="text" required>     
          <p> Họ và Tên</p> <input class="form-control-lg" id="fullName" name="fullName" type="text"  required>
            <p>Số điện thoại</p><input class="form-control-lg" id="phoneNumber" name="phoneNumber" type="text" required>
          <p>Mật Khẩu</p><input class="form-control-lg" id="password" name="password" type="password"  required>
          <p >Xác nhận mật khẩu mới</p> <input class="form-control-lg" id="confirm_password" name="confirm_password" type="password"  required>
            <button class="btn btn-primary border css-button " id="btn-register" type="button">Đăng ký</button>
          <p class="text-center"><br>Bạn đã có tài khoản ? <a href="/login">Đăng nhập</a>
            <br>Tôi đồng ý với Bảo mật và Điều khoản hoạt động của khách sạn</p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="js/smart-forms.min.js"></script>
  <script src="js/Card-slider-sk.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
  <script src="js/Media-Slider-Bootstrap-3.js"></script>
  <script src="js/Simple-Slider.js"></script>
  <script src="js/jquery-validation-1.19.2/dist/jquery.validate.js"></script>
  <script>
     $("#form-register").validate({
        rules:{
          email: { required: true },
          phoneNumber: { required: true, minlength: 9 },
          fullName: { required: true },
          password:{ required: true, minlength: 6 },
          confirm_password: { required: true, equalTo: "#password" },
        },
        messages:{
          email: { required: "Email không được để trống " },
          phoneNumber: { required: "Số điện thoại không được để trống", minlength: "Số điện thoại chưa đúng" },
          fullName: { required: "Họ tên không được để trống" },
          password: { required: "Mật khẩu không được để trống", minlength: "Mật khẩu tối thiểu 6 kí tự"},
          confirm_password: { required: " Nhập lại mật khẩu không được để trống",
          equalTo: "Hai password phải giống nhau"},
        }
     })
    $("#btn-register").click(function(){
      var email = $("#email").val();
      var password = $("#password").val();
      var phoneNumber = $("#phoneNumber").val();
      var fullName = $("#fullName").val();
      if($("#form-register").valid()){
        $.ajax({
          url: "/register",
          method: "POST",
          data: {
            email: email,
            password: password,
            phoneNumber: phoneNumber,
            fullName: fullName,
          }
        }).then(function (data) {
          alertify.success(data.message);
          window.timeout = setTimeout(function () {
            window.location.href = "/login";
          }, 2000)
        }).catch(function (err) {
          alertify.error(err.responseJSON.message);
        })
      }
      })   
  </script>
</body>

</html>
