<!-- Footer Section Begin -->
<footer class="footer-section">
  <div class="container">
    <div class="footer-text">
      <div class="row">
        <div class="col-lg-4">
          <div class="ft-about">
            <div class="logo">
              <a href="/">
                <img src="img/footer-logo.png" alt="">
              </a>
            </div>
            <p>Chúng tôi truyền cảm hứng và tiếp cận hàng triệu khách du lịch trên 90 trang web địa phương</p>
            <div class="fa-social">
              <a href="/"><i class="fab fa-facebook-f"></i></a>
              <a href="/"><i class="fab fa-twitter"></i></a>
              <a href="/"><i class="fab fa-google"></i></a>
              <a href="/"><i class="fab fa-instagram"></i></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 offset-lg-1">
          <div class="ft-contact">
            <h6>Liên hệ với chúng tôi</h6>
            <ul>
              <li>+84 666 666 666</li>
              <li>info.phuongdonghotel@gmail.com</li>
              <li>Số 8BT5, Trần Thủ Độ, KDT Pháp Vân, Hà Nội Số 8BT5, Việt Nam</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 offset-lg-1">
          <div class="ft-newslatter">
            <h6>Tin tức mới nhất</h6>
            <p>Nhập mail để nhận thông tin mới nhất về ưu đãi của chúng tôi</p>
            <form action="#" class="fn-form">
              <input type="text" placeholder="Email">
              <button type="submit"><i class="fas fa-envelope-square"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-option">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <ul>
            <li><a href="/">Liên hệ</a></li>
            <li><a href="/"> Điều khoản sử dụng</a></li>
            <li><a href="/">Bảo mật</a></li>
            <li><a href="/">Chính sách hỗ trợ </a></li>
          </ul>
        </div>
        <div class="col-lg-5">
          <div class="co-text">
            <p>
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> Mọi vấn đề về bản quyền xin liên hệ
              hieucr98tb@gmail.com <i class="fa fa-heart" aria-hidden="true"></i> by Trần Hiếu - Khoa CNTT - Lớp
              16A2</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->

<!-- Search model Begin -->
<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="search-close-switch"><i class="icon_close"></i></div>
    <form class="search-model-form">
      <input type="text" id="search-input" placeholder="Tìm kiếm tại đây....">
    </form>
  </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
<script src="fontawesome/js/all.js"></script>
<script src="js/jquery-validation-1.19.2/vali/jquery.validate.js"></script>

</body>

</html>
