<!DOCTYPE html>
<html lang="zxx">

<head>
  <base href="/assets/site/" />
  <meta charset="UTF-8">
  <meta name="description" content="Sona Template">
  <meta name="keywords" content="Sona, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Phương Đông Hotel</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="css/flaticon.css" type="text/css">
  <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="css/nice-select.css" type="text/css">
  <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
  <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <!-- Offcanvas Menu Section Begin -->
  <div class="offcanvas-menu-overlay"></div>
  <div class="canvas-open">
    <i class="icon_menu"></i>
  </div>
  <div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
      <i class="icon_close"></i>
    </div>
    <div class="search-icon  search-switch">
      <i class="icon_search"></i>
    </div>
    <div class="header-configure-area">
      <a href="#" class="bk-btn">Đặt phòng </a>
    </div>
    <nav class="mainmenu mobile-menu">
      <ul>
        <li class="active"><a href="./index.html">Trang chủ</a></li>
        <li><a href="./about-us.html">Giới thiệu</a></li>
        <li><a href="/">Phòng</a>
          <ul class="dropdown">
            <li><a href="#">Phòng VIP</a></li>
            <li><a href="#">Phòng Đôi</a></li>
            <li><a href="#">Phòng Đơn</a></li>
          </ul>
        </li>
        <li><a href="./blog.html">Khuyến mãi</a></li>
        <li><a href="#">Liên hệ </a></li>
        <li><a href="./contact.html">Tài khoản</a></li>

      </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="top-social">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-tripadvisor"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
    <ul class="top-widget">
      <li><i class="fa fa-phone"></i> +84 666 6655555</li>
      <li><i class="fa fa-envelope"></i> info.phuongdonghotel@gmail.com</li>
    </ul>
  </div>
  <!-- Offcanvas Menu Section End -->
  <!-- Header Section Begin -->
  <header class="header-section">
    <div class="top-nav">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <ul class="tn-left">
              <li><i class="fa fa-phone"></i> +84 666 666 666</li>
              <li><i class="fa fa-envelope"></i> info.phuongdonghotel@gmail.com</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <div class="tn-right">
              <div class="top-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
              <a href="#" class="bk-btn">Đặt phòng</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <div class="logo">
              <a href="/">
                <img src="img/logo.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-lg-10">
            <div class="nav-menu">
              <nav class="mainmenu">
                <ul>
                  <li class="active"><a href="/">Trang chủ</a></li>
                  <li><a href="/abouts"> Giới thiệu</a></li>
                  <!-- <li><a href="./rooms.html">Phòng được yêu thích </a></li> -->
                  <li><a href="/rooms">Phòng</a>
                    <ul class="dropdown">
                      <li><a href="#">Phòng VIP</a></li>
                      <li><a href="#">Phòng Đôi</a></li>
                      <li><a href="#">Phòng Đơn</a></li>
                    </ul>
                  </li>
                  <li><a href="/blog">Khuyến mãi</a></li>
                  <li><a href="/contacts">Liên hệ</a></li>

                  <li><a href="/login">Tài khoản</a></li>
                </ul>
              </nav>
              <div class="nav-right search-switch">
                <i class="icon_search"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Header End -->
