<!-- Header -->
<%- include("./layouts/header") %>
  <!-- Breadcrumb Section Begin -->
  <div class="breadcrumb-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-text">
            <h2>Giới thiệu</h2>
            <div class="bt-option">
              <a href="./index.html">Trang chủ</a>
              <span>Về chúng tôi</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb Section End -->
  
  <!-- About Us Page Section Begin -->
  <section class="aboutus-page-section spad">
    <div class="container">
      <div class="about-page-text">
        <div class="row">
          <div class="col-lg-6">
            <div class="ap-title">
              <h2>Welcome To Phương Đông Hotel </h2>
              <p class="f-para">Tọa lạc tại thành phố Hà Nội, cách trung tâm thương mại Tràng Tiền Plaza 9 km, Phương Đông Hotel có
                tầm nhìn ra quang cảnh thành phố. <br />
                Nhà Hát Lớn Hà Nội, Nhà hát múa rối nước Thăng Long và Bảo tàng Mỹ thuật Việt Nam đều nằm trong bán kính
                khoảng 10 km từ khách sạn này. Phòng nghỉ gắn máy điều hòa tại đây có tầm nhìn ra khu vườn, bàn làm việc và WiFi miễn
                phí. <br />
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1">
            <ul class="ap-services">
              <li><i class="icon_check"></i> Giảm giá 20% chỗ ở</li>
              <li><i class="icon_check"></i> Bữa sáng thịnh soạn</li>
              <li><i class="icon_check"></i> Miễn phí Wifi.</li>
              <li><i class="icon_check"></i> Giảm 20% nếu đặt F&B</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="about-page-services">
        <div class="row">
          <div class="col-md-4">
            <div class="ap-service-item set-bg" data-setbg="img/about/about-p1.jpg">
              <div class="api-text">
                <h3>Dịch vụ ăn uống</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ap-service-item set-bg" data-setbg="img/about/about-p2.jpg">
              <div class="api-text">
                <h3>Du lịch và khám phá </h3>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ap-service-item set-bg" data-setbg="img/about/about-p3.jpg">
              <div class="api-text">
                <h3>Sự kiện và tiệc tùng</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Us Page Section End -->
  
  <!-- Video Section Begin -->
  <section class="video-section set-bg" data-setbg="img/video-bg.jpg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="video-text">
            <h2>Khám phá khách sạn chúng tôi</h2>
            <p>Trải nghiệm tiện ích </p>
            <a href="https://www.youtube.com/watch?v=EzKkl64rRbM" class="play-btn video-popup"><img src="img/play.png"
                alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Video Section End -->
  
  <!-- Gallery Section Begin -->
  <section class="gallery-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <span>Sự lựa chọn của bạn</span>
            <h2>Khám phá công việc</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="gallery-item set-bg" data-setbg="img/gallery/gallery-1.jpg">
            <div class="gi-text">
              <h3>Sang trọng , lịch sự</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="gallery-item set-bg" data-setbg="img/gallery/gallery-3.jpg">
                <div class="gi-text">
                  <h3>Tiện nghi </h3>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="gallery-item set-bg" data-setbg="img/gallery/gallery-4.jpg">
                <div class="gi-text">
                  <h3>Ấm cúng</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="gallery-item large-item set-bg" data-setbg="img/gallery/gallery-2.jpg">
            <div class="gi-text">
              <h3>Giá rẻ, view đẹp</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Gallery Section End -->
    <%- include("./layouts/footer") %>
