<!-- Header -->
  <%- include("./layouts/header") %>

  <!-- Hero Section Begin -->
  <section class="hero-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="hero-text">
            <h1>Phương Đông A Luxury Hotel</h1>
            <p>Điểm đến yêu thích dành cho mọi nhà </p>
            <a href="#" class="primary-btn">Discover Now</a>
          </div>
        </div>
        <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
          <div class="booking-form">
            <h3>Đặt phòng ngay</h3>
            <form action="#">
              <div class="check-date">
                <label for="date-in">Ngày đến:</label>
                <input type="text" class="date-input" id="date-in">
                <i class="icon_calendar"></i>
              </div>
              <div class="check-date">
                <label for="date-out">Ngày đi:</label>
                <input type="text" class="date-input" id="date-out">
                <i class="icon_calendar"></i>
              </div>
              <div class="select-option">
                <label for="guest">Số khách:</label>
                <select id="guest">
                  <option value="">1-2 Người</option>
                  <option value=""> 3 Người trở lên</option>
                </select>
              </div>
              <div class="select-option">
                <label for="room">Phòng:</label>
                <select id="room">
                  <option value="">1 Phòng</option>
                  <option value="">2 Phòng</option>
                </select>
              </div>
              <button type="submit"> Kiểm tra </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-slider owl-carousel">
      <div class="hs-item set-bg" data-setbg="img/hero/hero-1.jpg"></div>
      <div class="hs-item set-bg" data-setbg="img/hero/hero-2.jpg"></div>
      <div class="hs-item set-bg" data-setbg="img/hero/hero-3.jpg"></div>
    </div>
  </section>
  <!-- Hero Section End -->

  <!-- About Us Section Begin -->
  <section class="aboutus-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about-text">
            <div class="section-title">
              <span>Về chúng tôi </span>
              <h2>Khách sạn <br />Phương Đông </h2>
            </div>
            <p class="f-para">Tọa lạc tại thành phố Hà Nội, cách trung tâm thương mại Tràng Tiền Plaza 9 km, Phương Đông Hotel có tầm nhìn ra quang cảnh thành phố. <br />
              Nhà Hát Lớn Hà Nội, Nhà hát múa rối nước Thăng Long và Bảo tàng Mỹ thuật Việt Nam đều nằm trong bán kính
            khoảng 10 km từ khách sạn này. Phòng nghỉ gắn máy điều hòa tại đây có tầm nhìn ra khu vườn, bàn làm việc và WiFi miễn
            phí. <br />
            <a href="#" class="primary-btn about-btn">Đọc thêm</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-pic">
            <div class="row">
              <div class="col-sm-6">
                <img src="img/about/about-1.jpg" alt="">
              </div>
              <div class="col-sm-6">
                <img src="img/about/about-2.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Us Section End -->

  <!-- Services Section End -->
  <section class="services-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <span>Chúng tôi có ?</span>   
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="service-item">
            <i class="flaticon-036-parking"></i>
            <h4>View đẹp</h4>
         
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service-item">
            <i class="flaticon-033-dinner"></i>
            <h4>Dịch vụ ăn uống</h4>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service-item">
            <i class="flaticon-026-bed"></i>
            <h4>Dịch vụ trông trẻ</h4>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service-item">
            <i class="flaticon-024-towel"></i>
            <h4>Tiện ích đi kèm</h4>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service-item">
            <i class="flaticon-044-clock-1"></i>
            <h4>Dịch vụ xe thuê</h4>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service-item">
            <i class="flaticon-012-cocktail"></i>
            <h4>Bar & Đồ uống</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services Section End -->

  <!-- Home Room Section Begin -->
  <section class="hp-room-section">
    <div class="container-fluid">
      <div class="hp-room-items">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="hp-room-item set-bg" data-setbg="img/room/room-b1.jpg">
              <div class="hr-text">
                <h3>Double Room</h3>
                <h2>199$<span>/Pernight</span></h2>
                <table>
                  <tbody>
                    <tr>
                      <td class="r-o">Size:</td>
                      <td>30 ft</td>
                    </tr>
                    <tr>
                      <td class="r-o">Capacity:</td>
                      <td>Max persion 5</td>
                    </tr>
                    <tr>
                      <td class="r-o">Bed:</td>
                      <td>King Beds</td>
                    </tr>
                    <tr>
                      <td class="r-o">Services:</td>
                      <td>Wifi, Television, Bathroom,...</td>
                    </tr>
                  </tbody>
                </table>
                <a href="#" class="primary-btn">More Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="hp-room-item set-bg" data-setbg="img/room/room-b2.jpg">
              <div class="hr-text">
                <h3>Premium King Room</h3>
                <h2>159$<span>/Pernight</span></h2>
                <table>
                  <tbody>
                    <tr>
                      <td class="r-o">Size:</td>
                      <td>30 ft</td>
                    </tr>
                    <tr>
                      <td class="r-o">Capacity:</td>
                      <td>Max persion 5</td>
                    </tr>
                    <tr>
                      <td class="r-o">Bed:</td>
                      <td>King Beds</td>
                    </tr>
                    <tr>
                      <td class="r-o">Services:</td>
                      <td>Wifi, Television, Bathroom,...</td>
                    </tr>
                  </tbody>
                </table>
                <a href="#" class="primary-btn">More Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="hp-room-item set-bg" data-setbg="img/room/room-b3.jpg">
              <div class="hr-text">
                <h3>Deluxe Room</h3>
                <h2>198$<span>/Pernight</span></h2>
                <table>
                  <tbody>
                    <tr>
                      <td class="r-o">Size:</td>
                      <td>30 ft</td>
                    </tr>
                    <tr>
                      <td class="r-o">Capacity:</td>
                      <td>Max persion 5</td>
                    </tr>
                    <tr>
                      <td class="r-o">Bed:</td>
                      <td>King Beds</td>
                    </tr>
                    <tr>
                      <td class="r-o">Services:</td>
                      <td>Wifi, Television, Bathroom,...</td>
                    </tr>
                  </tbody>
                </table>
                <a href="#" class="primary-btn">More Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="hp-room-item set-bg" data-setbg="img/room/room-b4.jpg">
              <div class="hr-text">
                <h3>Family Room</h3>
                <h2>299$<span>/Pernight</span></h2>
                <table>
                  <tbody>
                    <tr>
                      <td class="r-o">Size:</td>
                      <td>30 ft</td>
                    </tr>
                    <tr>
                      <td class="r-o">Capacity:</td>
                      <td>Max persion 5</td>
                    </tr>
                    <tr>
                      <td class="r-o">Bed:</td>
                      <td>King Beds</td>
                    </tr>
                    <tr>
                      <td class="r-o">Services:</td>
                      <td>Wifi, Television, Bathroom,...</td>
                    </tr>
                  </tbody>
                </table>
                <a href="#" class="primary-btn">More Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Home Room Section End -->

    <%- include("./layouts/footer") %>
