<!-- Header -->
<%- include("./layouts/header") %>
    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-text">
              <h2>Cùng hóng nào ?</h2>
              <div class="bt-option">
                <a href="/">Trang chủ</a>
                <span>Tin tức đó đây</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb Section End -->
    
    <!-- Blog Section Begin -->
    <section class="blog-section blog-page spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="blog-item set-bg" data-setbg="img/blog/blog-1.jpg">
              <div class="bi-text">
                <span class="b-tag">Hôm nay ăn gì ?</span>
                <h4><a href="/news">Hà Nội</a></h4>
                <div class="b-time"><i class="icon_clock_alt"></i> 20 tháng 10 năm 2020</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="blog-item set-bg" data-setbg="img/blog/blog-2.jpg">
              <div class="bi-text">
                <span class="b-tag">Đi phượt đâu ?</span>
                <h4><a href="/news">Hà Giang</a></h4>
                <div class="b-time"><i class="icon_clock_alt"></i> 30 tháng 10 năm 2020</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="blog-item set-bg" data-setbg="img/blog/blog-3.jpg">
              <div class="bi-text">
                <span class="b-tag">Sự kiện showbiz?</span>
                <h4><a href="/news">Thảm đỏ </a></h4>
                <div class="b-time"><i class="icon_clock_alt"></i> 10 tháng 11 năm 2020</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="blog-item set-bg" data-setbg="img/blog/blog-4.jpg">
              <div class="bi-text">
                <span class="b-tag">Đặt phòng đê ?</span>
                <h4><a href="/news">Luxstay</a></h4>
                <div class="b-time"><i class="icon_clock_alt"></i> 14 tháng 11 năm 2020</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="blog-item set-bg" data-setbg="img/blog/blog-5.jpg">
              <div class="bi-text">
                <span class="b-tag">Tắm biển không ?</span>
                <h4><a href="/news">Đà Nẵng</a></h4>
                <div class="b-time"><i class="icon_clock_alt"></i> 12 tháng 11 năm 2020</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="blog-item set-bg" data-setbg="img/blog/blog-6.jpg">
              <div class="bi-text">
                <span class="b-tag">Vèo vèo nghỉ dưỡng ?</span>
                <h4><a href="/news">Vũng Tàu Trip</a></h4>
                <div class="b-time"><i class="icon_clock_alt"></i> 19 tháng 12 năm 2020</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="blog-item set-bg" data-setbg="img/blog/blog-7.jpg">
              <div class="bi-text">
                <span class="b-tag">Cười lên nào ?</span>
                <h4><a href="/news">Phim hài </a></h4>
                <div class="b-time"><i class="icon_clock_alt"></i>11 tháng 12 năm 2020</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="blog-item set-bg" data-setbg="img/blog/blog-8.jpg">
              <div class="bi-text">
                <span class="b-tag">Phi thuyền lướt gió ?</span>
                <h4><a href="/news"> Xe địa hình dưới nước</a></h4>
                <div class="b-time"><i class="icon_clock_alt"></i> 09 tháng 12 năm 2020</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="blog-item set-bg" data-setbg="img/blog/blog-9.jpg">
              <div class="bi-text">
                <span class="b-tag">Phượt nào ?</span>
                <h4><a href="/news">Tam Đảo</a></h4>
                <div class="b-time"><i class="icon_clock_alt"></i>24 tháng 12 năm 2020</div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="load-more">
              <a href="/news" class="primary-btn">Load More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog Section End -->
<!-- Home Room Section End -->
<%- include("./layouts/footer") %>
